/* .styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody { */

/* background-color: #f3f3f3;
  color: #000000;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #000000;
}
*/

.styled-table {
  background-color: #1e1f25;
  border-radius: 20px;
  maxheight: 24px;
  padding: 0 10px 10px 10px;
  overflow: auto;
}

Table thead {
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
  white-space: nowrap;
}

.styled-table td {
  white-space: nowrap;
}
